.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}


.modalContainer {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    max-height: 100%;
}


.headerModal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerModal h1 {
    margin-bottom: 20px;
    font-family: 'Alfa Slab One', sans-serif;
    font-size: 30px;
}


.headerModal img {
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.dadosContainer{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.dados span{
    
    color: #EC4A7D;
    font-weight: bold;
}

.dados p{
    
    color: black;
    font-weight: bold;
    border-bottom: 1px solid #EC4A7D ;
}


.bttDados button{
    font-size: 14px;
    background-color: #EC4A7D;
    width: 120px;
    height: 35px;
    border-radius: 18px;
    border: none;
    margin-top: 30px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 10px; 
    color: white;
}



