
body{
    background-color: #040404;
    color: #040404;
}
.logo{
    display: flex;
    justify-content: center;
    color: #e3aec2;
}

img:hover{
    transform: scale(1.2);
}

h1{
    display: flex;
    justify-content: center;
    color: #e3aec2;
}

h1:hover{
    transform: scale(1.2);
}